<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>deletor</title>
</head>
<body>
    <form action="/events/<%= event.id %>" method="POST">
        <input type="text" name="event" value="<%= event.event %>" style="border:0px solid;" readonly>
        <input type="text" name="dayOne" value="<%= event.dayOne %>-<%= event.dayTwo %>" style="border:0px solid;" readonly><br>
        <input type="text" name="location" value="<%= event.location %>" style="border:0px solid;" readonly>
        <input type="text" name="address" value="<%= event.address %>" style="border:0px solid;" readonly><br>
        <input type="text" name="names" value="<%= event.names %>" style="border:0px solid" readonly>
        <button type="submit">Update Event</button><br>
    </form>

    <div class="task-buttons">
        <form action="/events/<%= event.id %>/delete" method="POST" style="display:inline;">
            <button class="delete-button" type="submit">Delete</button>
        </form>
    </div>
</body>
</html>