<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/head.ejs") %>
    <title>Events</title>
</head>
<body className="container">
    <header>
        <%- include("../partials/header.ejs", {variant: 'compact'}); %>
    </header>
    <main>
        <div className="jumbotron">
            <ul>
                <% events.forEach(function(event){ %>
                    <li>
                        <strong><%= event.event %></strong><br>
                        <em>Date</em>: <%= event.dayOne+"-"+event.dayTwo %><br>
                        <em>State</em>: <%= event.location %><br>
                        <em>- Participant</em> <%= event.person1F+" "+event.person1L %><br>
                        <em>- Participant</em> <%= event.person2F+" "+event.person2L %><br>
                        <em>- Participant</em> <%= event.person3F+" "+event.person3L %><br>
                        <em>- Participant</em> <%= event.person4F+" "+event.person4L %>
                    </li>
                <% }) %>
            </ul>
        </div>
    </main>
    <footer>
        <%- include("../partials/footer.ejs", {variant: 'compact'}); %>
    </footer>
    <script></script>
</body>
</html>